<%- include('header') -%>
<body>
<nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Stl Browser</a>
        <form class="form-inline" method="GET" action="/">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
</nav><div class="container">
        <p><%=models.length%></p>
        <%if(models.length <= 5){%>
                <div class="row m-2">
                        <% for (var j = 0; j < models.length  ;j++){ %>
                                <div class="col-sm" style="width: 18%">
                                        <%- include('cardModel', {model: models[j]}); %>
                                </div>
                        <% } %>
                </div>
        <%} else {%>
    <% for (var i = 0; i < models.length ;i+=5){ %>
        <div class="row m-2">
            <% for (var j = i; j < i+5 ;j++){ %>
                <div class="col-sm" style="width: 18%">
                    <%- include('cardModel', {model: models[j]}); %>
                </div>
            <% } %>
        </div>
    <% } }%>

</div>
</body>
