<%- include('header') -%>
<body>
<h1>Stl browser</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <%- include('cardModel') -%>

        </div>
        <div class="col-sm">
            <%- include('cardModel') -%>

        </div>
        <div class="col-sm">
            <%- include('cardModel') -%>

        </div>
    </div>

</div>
</body>
