<%- include('header')-%>
<%- include('navbar')-%>
<body>

<form action="models/upload" method="POST">
    <input type="file" accept="model/stl" id="filePicker" name="chosenFile">
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
</body>