<%- include('header')-%>
<%- include('navbar')-%>
<body>

<form action="/models/upload" method="POST" enctype="multipart/form-data">
    <input type="file" accept=".stl" id="filePicker" name="foo" >
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
</body>